/*Red: B22B05
Pastel: FF6337
Orange: FF5221
Lgray: ADB8B5
Dgray: 525252
teal: 21FFBF
dteal: 00B27F*/

.top-bar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  color: #ADB8B5;
  background-color: #525252;
  line-height: 50px;
}

.top-bar a{
  color: #ADB8B5;
  text-decoration: none;
}

.top-bar a:hover{
  color: #FF5221;
  text-decoration: none;
}

.in-line{
  display: inline;
}

.float-l {
  float: left;
  margin-left: 10px;
}

.float-r {
  float: right;
  margin-right: 10px;
}

.bodydiv {
  width: 600px;
  margin: 60px auto 0 auto;
}

#login {
  margin: 20px auto 0px auto;
  padding: 20px;
  width: 400px;
  border: 3px solid #525252;
  text-align: center;
  border-radius: 20px;
}

.button {
  position:relative;
  display:block;
  background-color: #FF5221;
  color: #525252;
  width: 209px;
  height: 25px;
  border: 3px solid #525252;
  margin: 10px auto 0px auto;
  line-height: 15px;
  border-radius: 8px;
}

.log {
  overflow: auto;
  border: 2px solid #525252;
  margin: 4px auto 4px auto;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
}

.event {
  overflow: auto;
  border: 2px solid #525252;
  margin: 4px auto 4px auto;
  border-radius: 10px;
  padding: 8px;
}

.event-list {
  margin: 4px auto 4px auto;
  padding: 8px;
}

.header-div {
  overflow: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #525252;
  margin: 4px auto 16px auto;
}

.eve-header-div {
  overflow: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #525252;
  margin: 4px auto 16px auto;
}

.dgray {
  color:#525252;
}

.lgray {
  color:#ADB8B5;
}
.orange {
  color:#FF5221;
}

.bmargin-5{
  margin-bottom: 5px;
}
.limit-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px auto  0 auto;
  background-color: red;
  background-color: rgba(82,82,82,0.5);
  width: 100%;
  height: auto;
  z-index:9000;
}

.close {
  text-decoration: none;
  color: black;
  background-color: #B22B05;
}

.pop-up-body {
  overflow: auto;
  width: 600px;
  height: 700px;
  margin: 60px auto 0 auto;
  background-color: white;
  margin: 4px auto 4px auto;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid #525252;
}
