<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQkOzuQW2Wf0BR_FGTg1lvvSu6aqHon1w&sensor=true">
    </script>
  <title>LogKeep</title>
</head>
  <body>
    <%= yield %>
  </body>
</html>
